/*!
	Theme Name: Sumatra Starter Theme
	Author: Bhakti Pasaribu
	Author URI: http://sumatrastudio.com
	Version: 1.0
*/

// base
@import 'base/var.styl'
@import 'mixins/breakpoints.styl'

// components
@import 'components/header.styl'
@import 'components/footer.styl'
@import 'components/page.styl'
