/*!
	Theme Name: Sumatra Starter Theme
	Author: Bhakti Pasaribu
	Author URI: http://sumatrastudio.com
	Version: 1.1
*/

// base
@import 'base/tailwind-addon.styl'
@import 'base/var.styl'

// mixins
@import 'mixins/general.styl'
@import 'mixins/breakpoints.styl'

// components
@import 'components/header.styl'
@import 'components/footer.styl'
@import 'components/article.styl'
@import 'components/form.styl'
@import 'components/page.styl'
