/*!
	Theme Name: Sumatra Starter Theme
	Author: Sumatra Studio
	Author URI: https://sumatrastudio.com
	Version: 1.0
*/

// base
@import 'base/fonts.css'
@import 'base/aos.css'
@import 'base/tailwind-addon.styl'
@import 'base/var.styl'
@import 'base/base.styl'

// mixins
@import 'mixins/general.styl'
@import 'mixins/breakpoints.styl'

// components
@import 'components/header.styl'
@import 'components/footer.styl'
@import 'components/button.styl'
@import 'components/form.styl'
@import 'components/mix.styl'
@import 'components/article.styl'

// pages
@import 'pages/home.styl'
@import 'pages/about.styl'
@import 'pages/mix.styl'
