// colors
colorPrimary = #4834d4

// shadows
shadow = 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)

// height
headerHeight = 100px
headerHeightMobile = 85px

// aos
fadeUpGap = 30px
