// variables
offsetGap = 8.333333%
tailwindBreakpoints = {
	'sm\': 640px,
	'md\': 768px,
	'lg\': 1024px,
	'xl\': 1200px
}

// offset
for num, i in (0..12)
	// offset
	.offset-{num}
		margin-left num * offsetGap

// width
for num in (1..10)
	wNum = 100 + (num * 10)
	.width-{wNum}
		width wNum + '%'



for breakpoint, i in tailwindBreakpoints
	// offset
	.{breakpoint}:offset
		@media( min-width: tailwindBreakpoints[breakpoint] )
			for num, i in (0..12)
				&-{num}
					margin-left num * offsetGap

	// width
	.{breakpoint}:width
		@media( min-width: tailwindBreakpoints[breakpoint] )
			// width
			for num in (1..10)
				wNum = 100 + (num * 10)
				&-{wNum}
					width wNum + '%'

