// home
#home-hero
	position relative
	position relative

	.hero-image
		width 117%
		img
			display block
			width 100%

	.hero-waves
		position absolute
		bottom 0
		left 0
		width 100%
		transform translateY(60%)

// intro
.intro-map
	position relative

	.map-description
		background orange
		width 70%
		color white
		position absolute
		top 0
		left 50%
		transform translateX(-50%)
		font-size 14px
		padding 10px
		text-align center
		border-radius 5px
