p
	a
		color greenDark

article
	ul, ol
		li
			position relative
			padding-left 25px
			&:before
				content ''
				position absolute
				top 0
				left 0
	ol
		counter-reset number
		li
			counter-increment number
			&:before
				content counter(number) '. '
	ul
		li:before
			square(5px)
			border-radius 50%
			background black
			top 9px
	blockquote
		border-left 5px solid greenDark
		padding 0 30px
		p
			font-weight 600
		cite
			margin-top 20px
			display block
			&:before
				content '- '

#post-header
	position relative
	.post-bg
		position absolute
		top -1 * headerHeight
		left 0
		width 100%
		height headerHeight

#post
	.addtoany_content_bottom
		margin 0
		padding-top 80px
		text-align center

	.addtoany_header
		font-weight 600

	.addtoany_list
		display block

		// remove the (+) button
		.addtoany_share
			display none

		a:not(.addtoany_special_service)>span
			border-radius 50px !important

		> a
			padding 0 8px
			span
				transition .3s all ease
			&:hover
				span
					opacity .85
			path
				transform-origin center
				transform scale(.75)

	// article responsive
	+below(md)
		.addtoany_content_bottom
			padding-top 40px
