.button
	padding 10px 20px
	border-radius 50px
	border-width 1px
	border-color transparent
	display inline-block
	transition .3s all ease
	font-weight 500

	&[data-type="solid-primary"]
		background colorPrimary
		color white
		&:hover
			opacity .85

	&[data-type="ghost-white"]
		border 1px solid white
		color white
		&:hover
			background white
			color greenDark

p
	a
		color colorPrimary
		&:hover
			text-decoration underline
