.gform_wrapper
	form
		margin 0

	.gform_fields,
	.ginput_complex
		display grid
		grid-gap 20px
		span
			display block

	.hidden_label
		label
			display none

	input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]),
	select, textarea
		display block
		width 100% !important
		padding 10px 0
		border-bottom 1px solid #aaa
		border-radius 0
		background none
		font-size 16px
		max-width 100%
		transition .3s all ease
		&:focus
			outline none
			border-color colorPrimary

	select
		-webkit-appearance none
		-moz-appearance none
		background no-repeat right center
		background-size 14px
		background-image url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 15'%3E%3Cpath fill='black' d='M2.83.17 12 9.34 21.17.17 24 3 12 15 0 3z'/%3E%3C/svg%3E")
			
	.gform_footer
		margin-top 30px

	[type="submit"]
		-webkit-appearance none
		-moz-appearance none
		cursor pointer
		padding 10px 20px
		border-radius 50px
		display inline-block
		transition .3s all ease
		font-weight 500
		background colorPrimary
		color white
		&:hover
			opacity .85

	// responsive
	+above(md)
		.gform_fields, .ginput_complex
			grid-template-columns repeat(2, 1fr)

		.w-full
			grid-column-start 1
			grid-column-end 3

// dark form
.dark-form .gform_wrapper
	input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]),
	select, textarea
		border-color white
	select
		background-image url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 15'%3E%3Cpath fill='white' d='M2.83.17 12 9.34 21.17.17 24 3 12 15 0 3z'/%3E%3C/svg%3E")
