input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0px 1000px gray inset;
}
input:-webkit-autofill {
  -webkit-text-fill-color: charcoal !important;
}

.gform_wrapper.gform_wrapper.gform_wrapper

	&.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half)
		max-width unset !important

	// reset
	margin 0 !important

	.gfield_label
		display none

	.ginput_container_consent
		margin-top 25px
		display flex
		align-items center
		input
			margin-right 10px

	ul.gform_fields li.gfield
		padding-right 0
		margin-top 0

	.top_label div.ginput_container
		margin-top 0

	input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
	textarea
		border-bottom 1px solid charcoal
		color charcoal
		font-size 22px
		background unset
		display block
		width 100%
		padding 10px 0
		overflow hidden
		margin-bottom 0 !important
		margin 0 !important
		appearance none
		border-radius 0 !important
		-webkit-appearance none
		transition .3s all ease
		&::placeholder
			transition .3s all ease
			color charcoal
		&:focus
			outline none
		&.is-opaque,
		&.is-opaque2
			opacity .5
		&.is-active,
		&.is-filled
			opacity 1

	.gform_fields
		> li:not(:last-child)
			margin-bottom 30px
		&:after
			content '*mandatory fields'
			text-align left
			display block
			font-size 12px
			line-height 13px
			margin-top 10px

	.validation_error
		display none

	.validation_message
		margin-top 5px

	li.gfield
		margin-bottom 0
		&.gfield_error
			background-color unset !important
			width 100% !important
			border none !important
			padding 0 !important
			&:not(:last-child)
				margin-bottom 30px !important

			input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
			textarea
				border none
				border-bottom 1px solid red
			.validation_message
				display none
			&.gfield_contains_required div.ginput_container
				margin-top unset

	textarea
		height auto !important

	// two columns
	.ginput_complex.ginput_container
		display grid
		grid-template-columns repeat(2, 1fr)
		width unset
		grid-gap 30px
		> span
			width unset !important
			padding-right unset !important
			margin-right unset !important



	// BUTTON
	.gform_footer
		position relative
		> img
			display none
		margin-top 40px
		padding 0 !important
		text-align center
		display inline-block
		width auto

		.button
			margin 0 !important
			border 2px solid charcoal
			box-shadow none
			color charcoal
			font-size 24px
			font-weight 500
			line-height normal
			padding 5px 25px 11px
			padding-right 38px
			transition .3s all ease
			cursor pointer
			background transparent
			margin 0 !important
			&:focus
				outline none

		.svg-wrapper
			position absolute
			top 50%
			right 0
			transform translateY(-50%)
			pointer-events none

		svg
			transform translateX(-20px)
			width 18px
			transition .3s transform ease

			#line
				transition .3s all ease
				transform-origin right
				transform scaleX(0)

	// gform wrapper responsive
	+above(md)
		form
			text-align center
		.gform_footer .button
			&:hover
				padding-right 50px
				background charcoal
				color white
				+ .svg-wrapper svg
					#arrow
						stroke white
					#line
						transform none
						fill white

	+below(md)
		.gform_footer .button
			line-height normal !important
			min-height unset !important
