.inline-underline
	display inline
	background-image linear-gradient(black, black)
	background-position 0% 100%
	background-repeat no-repeat
	background-size 100% 1px
	transition background-size 0.3s

.cta-section
	.inline-underline
		background-image linear-gradient(orange, orange)
		background-position 0% 80%
		background-size 100% 20px
